<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdhx.androidbase"
     >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".ECApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_cjl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.zdhx.androidbase.ui.account.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zdhx.androidbase.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="主页"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.zdhx.androidbase.ui.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="登录"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!--查询积分时使用的    选择时间及班级 -->
        <activity android:name=".ui.scrosearch.SelectScroActivity"
            android:screenOrientation="portrait"/>
        <!--发布动态 -->
        <activity android:name=".ui.introducetreads.IntroduceTreadsActivity"
            android:icon="@drawable/logo_cjl"
            android:screenOrientation="portrait"
            android:label="分享到互动交流" >
            <intent-filter>
                <!-- 调用共享时，过滤共享文件，此处默认全部 -->
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- 允许类型文件 -->
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/x-shockwave-flash" />
            </intent-filter>
        </activity>
        <!--查询动态 -->
        <activity android:name=".ui.treadssearch.SearchTreadsActivity"
            android:screenOrientation="portrait"/>
        <!--查询手写笔记 -->
        <activity android:name=".ui.ykt.SearchHandWriteActivity"
            android:screenOrientation="portrait"/>
        <!--展示教学周 -->
        <activity android:name=".ui.ykt.ShowWeekActivity"
            android:screenOrientation="portrait"/>
        <!--查询工作平台资源 -->
        <activity android:name=".ui.treadssearch.SearchWorkActivity"
            android:screenOrientation="portrait"/>
        <!--遍历内存卡 -->
        <activity android:name=".ui.plugin.FileExplorerActivity"
            android:screenOrientation="portrait"/>
        <!--动态树 -->
        <activity android:name=".ui.treadstree.TreeActivity"
            android:screenOrientation="portrait"/>

        <!--资源树 -->
        <activity android:name=".ui.treadstree.WorkTreeActivity"
            android:screenOrientation="portrait"/>
        <!--上传文件 -->
        <activity android:name=".ui.treadssearch.UpFileActivity"
            android:icon="@drawable/logo_cjl"
            android:screenOrientation="portrait"
            android:label="分享到资源平台" >
            <intent-filter>
                <!-- 调用共享时，过滤共享文件，此处默认全部 -->
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- 允许类型文件 -->
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>


        <!--展示视频文件 -->
        <activity android:name=".ui.treadssearch.VideoShowActivity"
            android:screenOrientation="portrait"/>
        <!--展示图片文件 -->
        <activity android:name=".ui.account.ImagePagerActivity"
            android:screenOrientation="portrait"/>
        <!--操作记录 -->
        <activity android:name=".ui.account.OperateRecordActicity"
            android:screenOrientation="portrait"/>
        <!--积分搜索树 -->
        <activity android:name=".ui.treadstree.ScroTreeActivity"
            android:screenOrientation="portrait"/>
        <!--推优 -->
        <activity android:name=".ui.quantity.CheckActivity"
            android:screenOrientation="portrait"/>
        <!--资源审核 -->
        <activity android:name=".ui.quantity.PrePassActivity"
            android:screenOrientation="portrait"/>
        <!--教师登录动态查询班级树 -->
        <activity android:name=".ui.treadstree.TreadsTreeActivity"
            android:screenOrientation="portrait"/>
        <!--教师登录动态查询班级树 -->
        <activity android:name=".ui.treadssearch.VideoShowSimpleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ykt.HandWriteSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.moralevaluation.MoralLevaluationActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".ui.SelectEntryMainActivity"
            android:screenOrientation="portrait"/>
        <!-- 分享相关 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!--二毛QQ分享-->
            <!--<intent-filter>-->
                <!--<data android:scheme="tencent101402617" />-->

                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <!--陈经纶QQ分享-->
            <intent-filter>
                <data android:scheme="tencent101410688" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 蒲公英必选 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="9aea9c32d070eff16e05b6be5a6165d3" >
        </meta-data>
    </application>

</manifest>